/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */




body {
    /* background: url('/img/frenchstucco.png') repeat 0 0; */
    background-color: #FDF6E3; /*#f4f4f4;*/
    font-family: 'iABCRegular', Georgia, serif;
    }
div#container {
    margin: 25px auto 60px 35px;
    text-align: left;
    width: 1200px;
    }
header {
    height: 80px;
    width: 100%;
    display: block;
    }
div#link-blog {
    position: relative;
    width: 120px;
    margin: -30px auto auto 970px;
    z-index: 100;
    font-family: sans-serif;
    }
a.button {
    font-size: 17px;
    padding: 5px 8px 5px 8px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #1589FF;
    text-decoration: none;
    color: #505050;
    }
a.button:hover {
    background-color: rgba(21, 137, 255, .1);
    }
a.button:visited {
    color: #505050;
    }
div#logo {
    padding: 0;
    width: 318px;
    height: 71px;
    float:left;
    position: fixed;
    background: url("/img/silverbucket_logo.png") center left no-repeat;
    }

div#content {
    display: inline-block;
    background-color: white;
    margin: 8px 0 0 35px;
    width: 860px;
    min-height: 500px;
    border: 1px solid #d2d2d2;
    padding: 10px 25px 25px 25px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottom-left: 2px;
    -moz-border-radius-bottomright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 10px;
    }

aside {
    float: right;
    width: 120px;
    margin: 5px 120px auto 0;
    }
div#github-commits {
    width: 240px;
    margin-left: 0;
    padding: 0;
    font-size: 0.8em;
    color: #7a787a;
    }
div#github-commits a {
    color: #55c3e8;
    }
div#github-commits p.github-commits-widget-by {
    font-size: 0.7em;
    padding: 0;
    margin: -5px 0 0 10px;
    }
div#github-commits ul {
    padding: 10px 0 0 8px;
    }
div#github-commits li {
    border-bottom: 1px solid #DFDFDF;
    margin-bottom: 5px;
    padding-bottom: 5px;
    }
div#github-commits li.last, div#github-commits li:last-child {
    border: 0;
    }
h3#github-commits-header {
    /*width: 100%;*/
    margin: 10px 0 0 5px;
    padding-right: 10px;
    }

div.heading {
    margin: 40px auto auto auto;
    border-bottom: 1px solid black;
    width: 95%;
    }
div.stripe {
    background-color: #F88017; /*rgba(248, 128, 23, 1);*/
    margin-left: -75px;
    width: 295px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottom-left: 2px;
    -moz-border-radius-bottomright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 10px;
    }
div.heading_text {
    margin-left: 75px;
    display: block;
    width: 100%;
    }
h1 {
    font-family: 'iABCRegular', Georgia, serif;
    font-size: 17px;
    text-transform: capitalize;
    color: #505050;
    padding-left: 20px;
    padding-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    }
#tagline h1 {
    font-family: 'iABCRegular', Georgia, serif;
    margin: 0 0 0 330px;
    padding: 25px 0 0 25px;
    }
#tagline {
    display: inline-block;
    }
h2 {
    font-size: 14px;
    margin-right: 60px;
    /*text-transform: uppercase; */
    color: white; /*#505050;*/
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    font-family: sans-serif;
    }
h3 {
    font-size: 12px;
    margin: 25px auto 0 auto;
    text-transform: uppercase;
    color: #505050;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    font-family: sans-serif;
    }
p.skills {
    color: #1589FF;
    margin-top: 0;
    }
ol, ul {
    list-style: none;
    margin-top: 0;
    }
p.a {
    color: #1589FF;
    display: inline;
    font-weight: normal;
    }

ul.icon_listing {
    margin-top: 10px;
    text-align: left;
    padding: 0 auto auto 5px;
    }
ul.icon_listing li {
    padding: 5px 0 5px 25px;
    font-family: courier;
    font-size: 11px;
    color: #808080;
    }
ul.icon_listing .skype {
    background: url("/img/skype_16.png") center left no-repeat;
    }
/*ul.icon_listing .aim {
    background: url("/img/aim_16.png") center left no-repeat;
    }*/
ul.icon_listing .twitter {
    background: url("/img/twitter_16.png") center left no-repeat;
    }
ul.icon_listing .irc {
    background: url("/img/irc_16.png") center left no-repeat;
    }
ul.icon_listing .gpg {
    background: url("/img/gpg_16.png") center left no-repeat;
    }
ul.icon_listing .email {
    background: url("/img/email_16.png") center left no-repeat;
    }
ul.icon_listing .github {
    background: url("/img/github_20.png") center left no-repeat;
    }
ul.icon_listing .bitbucket {
    background: url("/img/bitbucket_16.png") center left no-repeat;
    }
ul.icon_listing a {
    font-size: 13px;
    color: #F88017;
    font-weight: bold;
    }
ul.icon_listing a:hover {
    color: #B44003;
    }
/*ul.icon_listing b {
    font-size: 13px;
    }
ul.icon_listing i {
    color: #808080;
    }*/

a {
    color: #F88017;
    font-weight: bold;
    }
a:hover {
    color: #B44003;
    }
.github {
    margin-left: 5px;
}

div.display_icons {
    text-align: center;
    margin: 10px 100px 0 0;
    }
div.display_icons a {
    margin: auto 30px auto 30px;
    display: inline-block;
    }

footer {
    display: block;
    height: 15px;
    margin: 0 0 0 35px;
    width: 910px;
    }
#circle1, #circle2, #circle3 {
    width: 15px;
    line-height: .9;
    margin: 3px auto auto auto;
    background-color: #1589FF;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -icab-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    }

#circle1 {
    float: right;
    margin-right: 5px;
    opacity: 0.75;
    }
#circle2 {
    float: right;
    margin-right: 1%;
    opacity: 0.45;
    }
#circle3 {
    float: right;
    margin-right: 1%;
    opacity: 0.15;
    }




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/*@media only screen and (min-width: 30em) {
    /* Style adjustments for viewports that meet the condition */
/*}*/


@media only screen and (max-width: 1100px) {
    div#container {
        min-width: 900px;
    }
    aside {
        display: none;
        /*text-align: center;
        float: none;
        position: relative;
        display: inline-none;
        z-index: -100;
        margin-left: 50px;*/
    }
    div#github-commits {
        display: inline-block;
    }
    div#twtr-widget-1 {
        display: inline-block;
    }
    div#link-blog {
        margin: -20px auto 0 800px;
    }

}

@media only screen and (max-width: 900px) {
    /* Style adjustments for viewports that meet the condition */

    body {
        width: 100%;
    }
    div#container {
        width: 100%;
        margin: 0;
        padding: 0;
        min-width: 250px;
    }
    header {
        width: 100%;
        display: inline-block;
        text-align: center;
        height: 100%; /*145px;*/
        vertical-align: top;
        min-width: 300px;
    }

    div#logo {
        position: relative;
        float: none;
        display: inline-block;
        margin: 0 auto 10px auto;
        padding: 0;
        width: 318px;
        height: 71px;
    }
    div#tagline {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: top;
        margin: 10px 0 10px 0;
    }
    div#tagline h1 {
        margin: 0;
        padding: 0;
    }
    div#link-blog {
        display: none;
    }


    aside {
        /*text-align: center;
        float: none;
        position: relative;
        display: inline-none;*/
        display: none;
    }
    div#github-commits {
        display: inline-block;
    }
    div#twtr-widget-1 {
        display: inline-block;
    }
    div#content {
        min-width: 250px;
        margin: 0;
        padding: 0;
    }

    section {
        min-width: 250px;
        display: inline-block;
        margin: 0 5px 0 5px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
